		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>Links to Partner</h3>
									<ul class="links">
										<li><a href="#">Mattis et quis rutrum</a></li>
										<li><a href="#">Suspendisse amet varius</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum accumsan dolor</a></li>
										<li><a href="#">Mattis rutrum accumsan</a></li>
										<li><a href="#">Suspendisse varius nibh</a></li>
										<li><a href="#">Sed et dapibus mattis</a></li>
									</ul>
								</section>
								<section class="6u">
									<h3>Links To Team</h3>
									<ul class="links">
										<li><a href="#">Duis neque nisi dapibus</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum accumsan sed</a></li>
										<li><a href="#">Mattis et sed accumsan</a></li>
										<li><a href="#">Duis neque nisi sed</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum amet varius</a></li>
									</ul>
								</section>
							</div>
						</div>
						<section class="6u">
							<h3>Get In Touch</h3>
							<form class="gform"  method="POST" data-email="gankhiang@gmail.com" action=" https://script.google.com/macros/s/AKfycbx6_T7FX6rgqJk-PQ4sDxOMcGvE-lVbB9Q1MXWslXgg9kD0F9A/exec">
<label class="sr-only"></label>
  <input id="honeypot" type="text" name="honeypot" value="" style="display:none"/>
<div style="display:none" class="thankyou_message">
 

 <!-- You can customize the thankyou message by editing the code below -->
 <h2>Thanks for contacting us! We will get back to you soon!
 </h2>
</div>
								<div class="row half collapse-at-2">
									<div class="6u">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="6u">
										<input type="phone" name="phone" id="phone" placeholder="Phone Number" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button alt" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; GE. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

	</body>

</html>
